.container {
   background-color: #d5d5d5;
   max-width: 1200px;
   margin: 0 auto;
}

.page-section {
   /* position: relative; */
   padding: 25px;
}

.button {
   width: 200px;
   padding: 5px;
}

.text__1 {
   padding: 10px;
   background-color: #4d2e2e;
   color: yellowgreen;
}

.text-hidden {
   display: none;
}

.fade-block {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: rgba(128, 136, 106, 0.6);
}

.modal-window {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}
.card {
   background-color: #fff;
}